@import "tailwindcss" important;
@import "./theme.css";

.mdc-notched-outline__notch {
  border-style: none !important;
}

.mat-mdc-icon-button {
  line-height: normal !important;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  height: 16px !important;
  display: flex;
  align-items: center;
}

.cdk-drop-list-dragging {
  opacity: 0.5;
  border-left: 5px solid var(--mat-sys-outline);
  padding-left: 8px;
  height: auto !important;
}